<div class="container">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
      <div class="jumbotron my-5" [hidden]="submitted">
        <h2 class="display-6 text-center">Contact us</h2>
        <hr class="my-4" />
        <form (ngSubmit)="onSubmit()" #contactForm="ngForm">
          <div class="form-group row">
            <label for="inputName" class="col-sm-2 col-form-label"
              >Name <span class="text-danger">*</span></label
            >

            <div class="col-sm-10">
              <input
                type="text"
                class="form-control"
                id="inputName"
                placeholder="Your name"
                [(ngModel)]="form.name"
                name="inputName"
                required
                #inputName="ngModel"
              />
              <div
                [hidden]="inputName.valid || inputName.pristine"
                class="alert alert-danger"
              >
                Name is required
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputEmail" class="col-sm-2 col-form-label"
              >Your E-mail <span class="text-danger">*</span></label
            >
            <div class="col-sm-10">
              <input
                type="email"
                class="form-control"
                id="inputEmail"
                placeholder="Your email address"
                [(ngModel)]="form.email"
                name="inputEmail"
                #inputEmail="ngModel"
                required
              />
              <div
                [hidden]="inputEmail.valid || inputEmail.pristine"
                class="alert alert-danger"
              >
                Email is required
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPhone" class="col-sm-2 col-form-label"
              >Your Phone <span class="text-danger">*</span></label
            >
            <div class="col-sm-10">
              <input
                type="tel"
                pattern="[0-9]{3}[0-9]{3}[0-9]{4}"
                class="form-control"
                id="inputPhone"
                placeholder="Your phone number"
                [(ngModel)]="form.phone"
                name="inputPhone"
                #inputPhone="ngModel"
                required
              />
              <div
                [hidden]="inputPhone.valid || inputPhone.pristine"
                class="alert alert-danger"
              >
                Phone number is required
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputMessage" class="col-sm-2 col-form-label"
              >Your Message <span class="text-danger">*</span></label
            >
            <div class="col-sm-10">
              <textarea
                id="inputMessage"
                class="form-control"
                rows="4"
                cols="50"
                placeholder="Please enter your message here..."
                [(ngModel)]="form.message"
                name="inputMessage"
                #inputMessage="ngModel"
                required
              ></textarea>
              <div
                [hidden]="inputMessage.valid || inputMessage.pristine"
                class="alert alert-danger"
              >
                Message is required
              </div>
            </div>
          </div>
          <button
            type="submit"
            class="btn btn-primary float-right"
            [disabled]="contactForm.invalid"
          >
            Submit
          </button>
          <button
            type="reset"
            class="btn btn-outline-secondary float-right mr-2"
            (click)="newMessage()"
          >
            New Message
          </button>
        </form>
      </div>
      <div class="jumbotron my-5" [hidden]="!submitted">
        <h2 class="display-6 text-center">You submitted the following:</h2>
        <hr class="my-4" />
        <div class="row">
          <div class="col-2 font-weight-bold">Your name:</div>
          <div class="col-10">{{ form.name }}</div>
        </div>
        <div class="row">
          <div class="col-2 font-weight-bold">Your E-mail:</div>
          <div class="col-10">{{ form.email }}</div>
        </div>
        <div class="row">
          <div class="col-2 font-weight-bold">Your Phone:</div>
          <div class="col-10">{{ form.phone }}</div>
        </div>
        <div class="row">
          <div class="col-2 font-weight-bold">Your Message:</div>
          <div class="col-10">{{ form.message }}</div>
        </div>
        <br />
        <button class="btn btn-primary" (click)="submitted = false">
          Edit
        </button>
      </div>
    </div>
    <div class="col-1"></div>
  </div>
</div>
